
/*.jumbotron {
    background-color: #191919;
    color: white;
*/}


#D001 {
    width: 100%;
    height: 100%;
}

#D017 {
    width: 517px;
    height: 246px;
}

h1 {
    text-align: "center";
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
